/* variables */
:root {
    --white-color: #fff;
    --first-black-color: #202024;
    --second-black-color: #2c2c32;
    --third-black-color: #000;
    --first-btn-color: #98c4c5;
    --second-btn-color: #7bb1bc;
    --third-btn-color: #556976;
    --background-btn: rgba(255, 255, 255, 0.3);
}

/* general */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.wrapper {
    width: 90vw;
    max-width: 1250px;
    padding: 0.5rem;
    margin: 0 auto;
    line-height: 1.5;
    color: var(--white-color);
    font-family: 'Lato', sans-serif;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* header */
.header {
    padding: 10rem 0;
    background: url("../img/paris.jpg") no-repeat bottom/cover;
    position: relative;
}

.header-wrapper {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main-header {
    margin: 0 0 0.5rem;
    font-size: 3rem;
    font-weight: 700;
}

.header-paragraph {
    width: 100%;
    line-height: 2;
    margin-bottom: 2.5rem;
}

.arrow-down {
    color: var(--white-color);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--white-color);
    border-radius: 50%;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

.arrow-down:hover {
    background: var(--background-btn);
}

/* articles */
.articles {
    padding: 2rem 0;
    background: var(--first-black-color);
}

.articles-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.second-header {
    display: none;
}

.article {
    width: 100%;
    margin: 1rem 0;
    padding: 0 0 2.5rem;
    background: var(--second-black-color);
    border-radius: 5px;
}

.photo {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.article img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.article img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.article-text {
    text-align: center;
}

.article-header {
    font-size: 1.5rem;
}

.article-paragraph {
    font-weight: 300;
    margin: 1.5rem 0 2.5rem;
}

.article-btn {
    padding: 0.5rem 5rem;
    font-size: 1rem;
    color: var(--white-color);
    background: var(--first-btn-color);
    text-decoration: none;
    border-radius: 5px;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

.second-btn-style {
    background: var(--second-btn-color);
}

.article-btn:hover {
    background: var(--third-btn-color);
}

/* info */
.info {
    background: var(--third-black-color);
}

.info-wrapper {
    width: 100%;
    padding: 3rem 1rem 2rem;
    text-align: center;
}

.info-paragraph {
    font-weight: 300;
    margin-bottom: 2rem;
}

.social-icons span {
    margin: 0.5rem;
    padding: 1rem;
    border: 1.5px solid var(--background-btn);
    border-radius: 50%;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

.social-icons span:hover {
    background: var(--background-btn);
}

.social-icons a {
    color: var(--white-color);
    font-size: 1.5rem;
    text-decoration: none;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.social-icons a:hover {
    opacity: 1;
}

/* footer */
.footer {
    background: var(--third-black-color);
}

.footer-wrapper {
    padding: 0 0 3rem;
    text-align: center;
    font-weight: 300;
}

.footer-wrapper a {
    color: var(--white-color);
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.footer-wrapper a:hover {
    opacity: 1;
}

/* subpages */
.header-subpage {
    background: var(--second-black-color);
    position: relative;
}

.header-subpage::after {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(32, 32, 36, 1);
    box-shadow: 0px 2px 5px 0px rgba(32, 32, 36, 1);
}

.header-subpage-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-header-subpage a {
    color: var(--white-color);
    text-decoration: none;
}

.subpage-second-header {
    margin: 0;
}

.subpage-menu {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: none;
}

.show-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hide-header {
    display: none;
}

.subpage-menu li {
    padding: 0.5rem 0;
    list-style: none;
}

.subpage-menu li:first-of-type {
    margin-left: 0;
}

.subpage-menu a {
    color: var(--white-color);
    text-decoration: none;
}

.subpage-menu a:hover {
    text-decoration: underline;
}

/* hamburger */
.hamburger {
    width: 40px;
    height: 35px;
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.hamburger span {
    width: 40px;
    height: 6px;
    background: var(--white-color);
    position: absolute;
    left: 0;
    -webkit-transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, -webkit-transform .2s .4s;
    transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, -webkit-transform .2s .4s;
    -o-transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s;
    transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s;
    transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s, -webkit-transform .2s .4s;
}

.hamburger span:nth-of-type(0) {
    top: 0;
}

.hamburger span:nth-of-type(1) {
    top: calc(50% - 3px);
}

.hamburger span:last-of-type {
    bottom: 0;
}

.hamburger.active {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.hamburger.active span:nth-child(1) {
    top: calc(50% - 3px);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    bottom: calc(50% - 3px);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.subpage-section {
    background: var(--white-color);
    text-align: center;
    padding-bottom: 3rem;
}

.subpage-section-wrapper {
    padding: 4rem 0;
    color: var(--first-black-color);
    border-radius: 5px;
}

.subpage-second-header {
    margin: 0 0 3rem;
}

.subpage-text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.subpage-photo {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 0 0 1rem;
    overflow: hidden;
}

.subpage-photo img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.subpage-photo img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.subpage-paragraphs {
    width: 100%;
    line-height: 1.5;
    padding: 0 1rem;
}

.subpage-paragraph:first-of-type {
    margin: 0;
}

.subpage-paragraph a {
    color: var(--second-black-color);
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.subpage-paragraph a:hover {
    color: var(--third-black-color);
}

.subpage-list {
    margin: 0;
    padding: 0;
    text-align: left;
}

.subpage-list li {
    margin: 0.5rem 0;
}

.subpage-list a {
    color: var(--second-black-color);
}

.subpage-footer {
    padding: 1rem 0 2rem;
    background: var(--white-color);
    position: relative;
}

.subpage-footer::after {
    content: "";
    width: 100%;
    opacity: 0.3;
    border-top: 1px solid var(--second-black-color);
    position: absolute;
    top: 0;
}

.subpage-footer-wrapper {
    color: var(--second-black-color);
    text-align: center;
}

.subpage-footer-wrapper a {
    color: var(--second-black-color);
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.subpage-footer-wrapper a:hover {
    opacity: 1;
}

/* media queries*/
@media only screen and (min-width: 900px) {
    .header-paragraph {
        width: 60%;
    }

    .articles-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .article {
        width: 45%;
        margin: 1rem;
    }

    .photo {
        height: 300px;
    }

    .info-wrapper {
        width: 50%;
        padding: 3rem 0 2rem;
    }

    .subpage-menu {
        height: 10%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .subpage-menu li {
        margin-left: 2rem;
    }

    .hamburger {
        display: none;
    }

    .subpage-text-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .subpage-photo {
        width: 50%;
        height: 350px;
        margin: 0 2rem 0;
    }

    .subpage-paragraphs {
        width: 50%;
    }
}
