/* general */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.wrapper {
    width: 90vw;
    max-width: 1250px;
    padding: 0.5rem;
    margin: 0 auto;
    line-height: 1.5;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* header */
.header {
    padding: 10rem 0;
    background: url("../img/paris.jpg") no-repeat bottom/cover;
    position: relative;
}

.header-wrapper {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main-header {
    margin: 0 0 0.5rem;
    font-size: 3rem;
    font-weight: 700;
}

.header-paragraph {
    width: 100%;
    line-height: 2;
    margin-bottom: 2.5rem;
}

.arrow-down {
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ffffff;
    border-radius: 50%;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

.arrow-down:hover {
    background: rgba(255, 255, 255, 0.3);
}

/* articles */
.articles {
    padding: 2rem 0;
    background: #202024;
}

.articles-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.second-header {
    display: none;
}

.article {
    width: 100%;
    margin: 1rem 0;
    padding: 0 0 2.5rem;
    background: #2c2c32;
    border-radius: 5px;
}

.photo {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.article img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.article img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.article-text {
    text-align: center;
}

.article-header {
    font-size: 1.5rem;
}

.article-paragraph {
    font-weight: 300;
    margin: 1.5rem 0 2.5rem;
}

.article-btn {
    padding: 0.5rem 5rem;
    font-size: 1rem;
    color: #ffffff;
    background: #98c4c5;
    text-decoration: none;
    border-radius: 5px;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

.second-btn-style {
    background: #7bb1bc;
}

.article-btn:hover {
    background: #556976;
}

/* info */
.info {
    background: #000000;
}

.info-wrapper {
    width: 100%;
    padding: 3rem 1rem 2rem;
    text-align: center;
}

.info-paragraph {
    font-weight: 300;
    margin-bottom: 2rem;
}

.social-icons span {
    margin: 0.5rem;
    padding: 1rem;
    border: 1.5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

.social-icons span:hover {
    background: rgba(255, 255, 255, 0.3);
}

.social-icons a {
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.social-icons a:hover {
    opacity: 1;
}

/* footer */
.footer {
    background: #000000;
}

.footer-wrapper {
    padding: 0 0 3rem;
    text-align: center;
    font-weight: 300;
}

.footer-wrapper a {
    color: #ffffff;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.footer-wrapper a:hover {
    opacity: 1;
}

/* subpages */
.header-subpage {
    background: #2c2c32;
    position: relative;
    z-index: 0;
}

.header-subpage::after {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(32, 32, 36, 1);
    box-shadow: 0px 2px 5px 0px rgba(32, 32, 36, 1);
}

.header-subpage-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-header-subpage a {
    color: #ffffff;
    text-decoration: none;
}

.subpage-second-header {
    margin: 0;
}

.hamburger {
    padding: 10px;
    background: transparent;
    border: 0;
    margin: 0;
    display: inline-block;
    cursor: pointer;
}

.hamburger, .menu {
    -webkit-transition: -webkit-transform .3s .1s ease-in-out;
    transition: -webkit-transform .3s .1s ease-in-out;
    -o-transition: transform .3s .1s ease-in-out;
    transition: transform .3s .1s ease-in-out;
    transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
}

.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
    z-index: 3;
}

.hamburger-inner {
    width: 100%;
    height: 3px;
    background: white;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    -webkit-transition: background 0.3s 0.2s ease-in-out;
    -o-transition: background 0.3s 0.2s ease-in-out;
    transition: background 0.3s 0.2s ease-in-out;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    width: 100%;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    top: 10px;
}

.hamburger-active .hamburger-inner {
    background: transparent;
}

.hamburger-active .hamburger-inner::before {
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
    background: #000000;
}

.hamburger-active .hamburger-inner::after {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    background: #000000;
}

.menu {
    height: 100vh;
    width: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 2;
}

.menu-list {
    margin-top: 50px;
    padding: 0 30px;
    list-style: none;
}

.menu-list li {
    text-align: center;
    margin-bottom: 20px;
}

.menu-list a {
    text-decoration: none;
    color: #000000;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.menu-list a:hover {
    color: #5E91C3;
}

.menu-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.subpage-section {
    background: #ffffff;
    text-align: center;
    padding-bottom: 3rem;
}

.subpage-section-wrapper {
    padding: 4rem 0;
    color: #202024;
    border-radius: 5px;
}

.subpage-second-header {
    margin: 0 0 3rem;
}

.subpage-text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.subpage-photo {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 0 0 1rem;
    overflow: hidden;
}

.subpage-photo img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.subpage-photo img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.subpage-paragraphs {
    width: 100%;
    line-height: 1.5;
    padding: 0 1rem;
}

.subpage-paragraph:first-of-type {
    margin: 0;
}

.subpage-paragraph a {
    color: #2c2c32;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.subpage-paragraph a:hover {
    color: #000000;
}

.subpage-list {
    margin: 0;
    padding: 0;
    text-align: left;
}

.subpage-list li {
    margin: 0.5rem 0;
}

.subpage-list a {
    color: #2c2c32;
}

.subpage-footer {
    padding: 1rem 0 2rem;
    background: #ffffff;
    position: relative;
}

.subpage-footer::after {
    content: "";
    width: 100%;
    opacity: 0.3;
    border-top: 1px solid #2c2c32;
    position: absolute;
    top: 0;
}

.subpage-footer-wrapper {
    color: #2c2c32;
    text-align: center;
}

.subpage-footer-wrapper a {
    color: #2c2c32;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.subpage-footer-wrapper a:hover {
    opacity: 1;
}

/* media queries*/
@media only screen and (min-width: 900px) {
    .header-paragraph {
        width: 60%;
    }

    .articles-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .article {
        width: 45%;
        margin: 1rem;
    }

    .photo {
        height: 300px;
    }

    .info-wrapper {
        width: 50%;
        padding: 3rem 0 2rem;
    }

    .menu {
        height: 10vh;
        background: transparent;
        position: static;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .menu-list {
        margin-top: 2rem;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .menu-list li {
        margin-bottom: 0;
        margin-left: 1rem;
    }

    .menu-list a {
        text-decoration: none;
        color: #ffffff;
    }

    .hamburger {
        display: none;
    }

    .subpage-text-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .subpage-photo {
        width: 50%;
        height: 350px;
        margin: 0 2rem 0;
    }

    .subpage-paragraphs {
        width: 50%;
    }
}
